body {
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 20px;
}

section {
    padding: 2rem 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

img.img-fluid {
    margin-top: 20px;
}
